/*GENERAL*/
header{
	background-color: $header;
}
.navbar-bgcolor{
	background-color: $bgmenu;
}
.nav-link:hover{
	background-color: $bgmenuhover;
	border-radius: 10px;
}
footer{
	background-color: $bgfooter;
	color: $fuentefooter-color;
}