$header: #0468BF;
$bgmenu: #262626;
$bgmenuhover: #3D3837;
$bgfooter: #BFBFBF;
$fuentefooter-color: #404040;
$separadoresnoticias: 2px solid #BFBFBF;

/*GENERAL*/
header{
	background-color: $header;
}
.navbar-bgcolor{
	background-color: $bgmenu;
}
.nav-link:hover{
	background-color: $bgmenuhover;
	border-radius: 10px;
}
footer{
	background-color: $bgfooter;
	color: $fuentefooter-color;
}


div.ultimasNoticias article{
	border-top: $separadoresnoticias;
}