@mixin layoutPaginaPrincipal{
	display: grid;
	grid-template-areas:
	"header header header"
	"nav nav nav"
	"section section section"
	"footer footer footer";
	grid-template-rows: auto auto auto auto; 
	grid-template-columns: 120px auto auto;
}
@mixin layoutPaginaCelulares{
	display: grid;
	grid-template-areas:
	"header header header"
	"nav nav nav"
	"section section section"
	"footer footer footer";
	grid-template-rows: auto auto auto auto; 
	grid-template-columns: 120px auto auto;
}
@mixin containerNoticias{
	margin-top: 10px;
	padding: 15px 10px 5px 10px;
	display: grid;
	grid-template-columns: 60% 30%;
	grid-column-gap: 10%;
}


/*GENERAL*/
header{
	grid-area: header;
	display: grid !important;
	div{
		justify-self: center;
		align-self: center;
		img{
			width: 250px;
		}
	}
}
nav{
	grid-area: nav;
	div ul li{
		margin: 0 8px 0 8px;
	}
}
footer{
	padding: 10px 0 10px 0;
	grid-area: footer;
	display: flex !important;
	flex-direction: column;
	justify-content: space-around;
	div{
		display: flex;
	}
	div.acercaDe{
		flex-direction: column;
		min-height: 120px;
		justify-content: space-evenly;
		margin-left: 20px;
	}
	div.iconos{
		flex-direction: row;
		justify-content: space-around;
		margin: 10px 50px 10px 50px;
		margin-top: 10px;
	}
}

/*index*/
.paginaPrincipal{
	@include layoutPaginaPrincipal;
	section{
		grid-area: section;
		div.carousel{
			margin: 20px 20px 0 20px;
			ol li{
				width: 10px !important;
				height: 10px !important;
				border-radius: 100%;
				margin-right: 10px !important;
				margin-left: 10px !important;
			}
		}
		div.ultimasNoticias{
			display: grid;
			grid-template-rows: repeat(3, auto);
			margin-bottom: 10px;
			article{
				@include containerNoticias;
				img{
					width: 100%;
				}
			}
		}
	}
}

/*celulares*/
.paginaCelulares{
	@include layoutPaginaCelulares;
	section{
		grid-area: section;
		div.noticiaDestacada{
			position: relative;
			display: flex;
			align-items: flex-end;
			img{
				width: 100%;
			}
			h2{
				display: inline-block;
				width: 100%;
				padding-bottom: 20px;
				text-align: center;
				position: absolute;
			}
		}
		div.ultimasNoticias{
			display: grid;
			grid-template-rows: repeat(5, auto);
			margin-bottom: 10px;
			article{
				@include containerNoticias;
				img{
					width: 100%;
				}
			}
		}
	}
}