/*GENERAL*/
header{
	grid-area: header;
	display: grid !important;
	div{
		justify-self: center;
		align-self: center;
		img{
			width: 250px;
		}
	}
}
nav{
	grid-area: nav;
	font-family: $fuenteMenu;
	div ul li{
		margin: 0 8px 0 8px;
	}
}
footer{
	margin-top: 10px;
	grid-area: footer;
	div{
		display: flex;
	}
	div.acercaDe{
		flex-direction: column;
		min-height: 130px;
		justify-content: space-around;
	}
	div.iconos{
		flex-direction: row;
		justify-content: space-around;
		margin: 10px 50px 10px 50px;
	}
}

/*index*/
.paginaPrincipal{
	@include layoutPaginaPrincipal;
	section{
		grid-area: section;
		div.carousel{
			margin: 20px 20px 10px 20px;
			ol li{
				width: 10px !important;
				height: 10px !important;
				border-radius: 100%;
				margin-right: 10px !important;
				margin-left: 10px !important;
			}
		}
		div.ultimasNoticias{
			display: grid;
			grid-template-rows: $layoutNoticias;
			article{
				@include containerNoticias;
				img{
					width: 100%;
				}
			}
		}
	}
}

/*celulares*/
.paginaCelulares{
	@include layoutPaginaCelulares;
	section{
		grid-area: section;
		div.ultimasNoticias{
			display: grid;
			grid-template-rows: $layoutNoticias;
			article{
				@include containerNoticias;
				img{
					width: 100%;
				}
			}
		}
	}
}