@media all and (min-width: 768px){
	/*general*/
	footer{
		display: flex !important;
		flex-direction: row;
		justify-content: space-around;
		font-size: 18px;
		min-height: 200px;
		div.acercaDe{
			text-align: justify;
		}
		div.iconos{
			flex-direction: column !important;
		}
	}

	/*index*/
	.carousel{
		h1{
			@include fuenteTitulos;
			font-size: 2.2em;
			-webkit-text-fill-color: #fff;
			-webkit-text-stroke: 1px #000;
		}
		h2{
			@include fuenteTitulosSecundarios;
			font-size: 1.3em;
			-webkit-text-fill-color: #fff;
			-webkit-text-stroke: 0.3px #000;
		}
	}
	.ultimasNoticias{
		span.tituloSecciones{
			font-size: 2.2em;
		}
		article{
			@include containerNoticiasDispositivosMedianos;
			span{
				@include fuenteTitulos;
				line-height: 1.4;
				word-spacing: 2px;
			}
		}
	}	

	/*celulares*/
	.ultimasNoticias{
		span{
			font-size: 1.8em;
		}
		article{
			@include containerNoticiasDispositivosMedianos;
			span{
				@include fuenteTitulos;
				line-height: 1.4;
				word-spacing: 2px;
			}
		}
	}
}

@media all and (min-width: 1024px){
	/*GENERAL*/
	header div img{
		width: 400px;
	}

	/*index*/
	.paginaPrincipal{
		grid-template-areas: 
		"header header header"
		"nav nav nav"
		". section ."
		"footer footer footer";
		grid-template-columns: auto 70em auto;
		section{
			div.carousel{
				margin: 40px 0 15px 0;
				div div.carousel-item{
					height: 75vh;
					div{
						h1{
							font-size: 3.2em;
						}
						h2{							
							font-size: 1.2em;
						}
					}
				}
			}
			div.ultimasNoticias{
				grid-template-rows: $layoutNoticias;
				span.titulosSecciones{
					margin-bottom: 40px;
					font-size: 3em;
				}
				article{
					@include containerNoticiasDispositivosGrandes;
					span{
						font-size: 1.3em;
					}
				}
			}
		}
	}

	/*celulares*/
	.paginaCelulares{
		grid-template-areas: 
		"header header header"
		"nav nav nav"
		". section ."
		"footer footer footer";
		grid-template-columns: auto 70em auto;
		section{
			div.ultimasNoticias{
				grid-template-rows: $layoutNoticias;
				span.titulosSecciones{
					margin-bottom: 40px;
					font-size: 3em;
				}
				article{
					@include containerNoticiasDispositivosGrandes;
					span{
						font-size: 1.3em;
					}
				}
			}
		}
	}
}