@media all and (min-width: 768px){
	/*index*/
	.ultimasNoticias-paginaPrincipal__title{
		font-size: 1.8em;
	}
	.ultimasNoticias-paginaPrincipal__container{
		@include containerNoticiasDispositivosMedianos;
	}
	.ultimasNoticias-paginaPrincipal__title-notice{
		@include fuenteTitulos;
		line-height: 1.4;
		word-spacing: 2px;
	}

	/*celulares*/
	.ultimasNoticias-paginaCelulares__title{
		font-size: 1.8em;
	}
	.ultimasNoticias-paginaCelulares__container{
		@include containerNoticiasDispositivosMedianos;
	}
	.ultimasNoticias-paginaCelulares__title-notice{
		@include fuenteTitulos;
		line-height: 1.4;
		word-spacing: 2px;
	}

	/*otros dispositivos*/
	.ultimasNoticias-paginaOtros__title{
		font-size: 1.8em;
	}
	.ultimasNoticias-paginaOtros__container{
		@include containerNoticiasDispositivosMedianos;
	}
	.ultimasNoticias-paginaOtros__title-notice{
		@include fuenteTitulos;
		line-height: 1.4;
		word-spacing: 2px;
	}
}

@media all and (min-width: 1024px){
	/*index*/
	.paginaPrincipal{
		@include layoutDispositivosGrandes;
	}
	.carousel{
		margin: 40px 0 40px 0;
	}
	.carousel-item img{
		height: 75vh;
	}
	.carousel-title__principal{
		@include fuenteTitulos;
		font-size: 3.2em;
	}
	.carousel-title__secundary{
		@include fuenteTitulosSecundarios;
		font-size: 1.2em;
	}
	.ultimasNoticias-paginaPrincipal{
		grid-template-rows: $layoutNoticias;
	}
	.ultimasNoticias-paginaPrincipal__container{
		@include containerNoticiasDispositivosGrandes;
	}
	.ultimasNoticias-paginaPrincipal__title{
		margin-bottom: 40px;
		font-size: 3em;
	}
	.ultimasNoticias-paginaPrincipal__title-notice{
		font-size: 1.3em;
	}

	/*celulares*/
	.paginaCelulares{
		@include layoutDispositivosGrandes;
	}
	.ultimasNoticias-paginaCelulares{
		grid-template-rows: $layoutNoticias;
	}
	.paginaCelulares__section{
		margin-top: 20px;
	}
	.ultimasNoticias-paginaCelulares__container{
		@include containerNoticiasDispositivosGrandes;
	}
	.ultimasNoticias-paginaCelulares__title{
		margin-bottom: 40px;
		font-size: 3em;
	}
	.ultimasNoticias-paginaCelulares__title-notice{
		font-size: 1.3em;
	}

	/*otras noticias*/
	.paginaOtros{
		@include layoutDispositivosGrandes;
	}
	.ultimasNoticias-paginaOtros{
		grid-template-rows: $layoutNoticias;
	}
	.paginaOtros__section{
		margin-top: 20px;
	}
	.ultimasNoticias-paginaOtros__container{
		@include containerNoticiasDispositivosGrandes;
	}
	.ultimasNoticias-paginaOtros__title{
		margin-bottom: 40px;
		font-size: 3em;
	}
	.ultimasNoticias-paginaOtros__title-notice{
		font-size: 1.3em;
	}
}