@mixin containerNoticiasDispositivosMedianos{
	margin: 10px 10vw 0 10vw;
	padding: 15px 20px 5px 20px;
}
@mixin containerNoticiasDispositivosGrandes{
	margin: 10px 7vw 0 7vw;
	padding: 30px 20px 20px 20px;
}

@media all and (min-width: 768px){
	/*general*/
	a.nav-link{
		font-size: 1em;
	}
	footer{
		display: flex !important;
		flex-direction: row;
		justify-content: space-around;
		font-size: 1em;
		min-height: 180px;
		div.acercaDe{
			text-align: justify;
		}
		div.iconos{
			flex-direction: column !important;
		}
	}

	/*index*/
	.carousel{
		h1{
			font-size: 2em;
		}
	}
	.ultimasNoticias{
		span.tituloSecciones{
			font-size: 2em;
			margin: 50px 0 40px 0;
		}
		article{
			@include containerNoticiasDispositivosMedianos;
			span{
				@include fuenteTitulos;
				line-height: 1.4;
				word-spacing: 2px;
			}
		}
	}	

	/*celulares*/
	.noticiaDestacada h2{
		font-size: 2em !important;
	}
	.ultimasNoticias{
		span{
			font-size: 1.2em;
		}
		article{
			@include containerNoticiasDispositivosMedianos;
			span{
				@include fuenteTitulos;
				line-height: 1.4;
				word-spacing: 2px;
			}
		}
	}
}

@media all and (min-width: 1024px){
	/*GENERAL*/
	header div img{
		width: 400px;
	}
	a.nav-link{
		font-size: 1.2em;
	}
	footer{
		padding: 30px 30vh 30px 30vh;
		min-height: 250px;
	}

	/*index*/
	.paginaPrincipal{
		grid-template-areas: 
		"header header header"
		"nav nav nav"
		". section ."
		"footer footer footer";
		grid-template-columns: auto 70em auto;
		section{
			div.carousel{
				margin: 40px 0 15px 0;
				div div.carousel-item{
					height: 75vh;
					div{
						h1{
							font-size: 3.2em;
						}
					}
				}
			}
			div.ultimasNoticias{
				grid-template-rows: repeat(5, auto);
				span.tituloSecciones{
					margin-bottom: 50px;
					font-size: 2.5em;
				}
				article{
					@include containerNoticiasDispositivosGrandes;
					span{
						font-size: 1.3em;
					}
				}
			}
		}
	}

	/*celulares*/
	.paginaCelulares{
		grid-template-areas: 
		"header header header"
		"nav nav nav"
		". section ."
		"footer footer footer";
		grid-template-columns: auto 70em auto;
		section{
			div.noticiaDestacada h2{
				font-size: 3.2em !important;
			}
			div.ultimasNoticias{
				grid-template-rows: repeat(5, auto);
				span.tituloSecciones{
					margin-bottom: 50px;
					font-size: 2.5em;
				}
				article{
					@include containerNoticiasDispositivosGrandes;
					span{
						font-size: 1.3em;
					}
				}
			}
		}
	}
}