/*LAYOUT*/
$layoutNoticias: repeat(5, auto);

/*FUENTES*/
$fuenteMenu:'Noto Sans', sans-serif;
$fuenteTitulos: 'Noto Sans', sans-serif;
$fuenteTitulosUltimasNoticias: 'PT Serif', serif;
$fuenteFooter:'Noto Sans', sans-serif;

/*COLORES*/
$bgmenu: #5E6A8C;
$bgmenuhover: #9392A6;
$separadoresnoticias: 2px solid #F2EAE9;
$bgfooter: #000;
$fuentefooter-color: #fff;