/*LAYOUT*/
$layoutNoticias: repeat(5, auto);

/*FUENTES*/
$fuenteMenu:'Noto Sans', sans-serif;
$fuenteTitulos: 'Noto Sans', sans-serif;
$fuenteTitulosUltimasNoticias: 'PT Serif', serif;
$fuenteFooter:'Noto Sans', sans-serif;

/*COLORES*/
$bgmenu: #000;
$bgmenuhover: #3B3B3B;
$separadoresnoticias: 2px solid #E8E8E8;
$bgfooter: #000;
$fuentefooter-color: #fff;