/*LAYOUT*/
$layoutNoticias: repeat(5, auto);

/*FUENTES*/
$fuenteMenu:'Noto Sans', sans-serif;
$fuenteTitulos: 'Noto Sans', sans-serif;
$fuenteTitulosUltimasNoticias: 'PT Serif', serif;
$fuenteFooter:'Noto Sans', sans-serif;

/*COLORES*/
$header: #0468BF;
$bgmenu: #262626;
$bgmenuhover: #3D3837;
$separadoresnoticias: 2px solid #BFBFBF;
$bgfooter: #BFBFBF;
$fuentefooter-color: #404040;